@import url(https://fontlibrary.org//face/clear-sans);
@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tile-appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes tile-appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

div.bootstrap * {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.game-container {
  margin: 40px auto;
  position: relative;
  padding: 7px;
  width: 221px;
  height: 221px;
  border-radius: 3px;
  background-color: #bbada0;
  z-index: 999;
}

.grid-container {
  position: absolute;
  z-index: 1000;
}

.tile-container {
  position: absolute;
  z-index: 1001;
}

.grid-row {
  margin-bottom: 7px;
  height: 50px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-cell {
  float: left;
  background-color: rgba(238, 228, 218, 0.35);
}

.button {
  font-family: "ClearSansBold", Arial, sans-serif;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
}

.delete-button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  -webkit-transform: translate(218px, -15px);
          transform: translate(218px, -15px);
  background-color: #007bff;
  text-align: center;
  line-height: 16px;
  color: #fff;
  z-index: 1005;
}

.reset-button, .main-reset-button, .main-continue-button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  background-color: #dc3545;
  text-align: center;
  line-height: 16px;
  color: #fff;
  z-index: 1005;
}

.main-reset-button {
  position: relative;
  -webkit-transform: none;
          transform: none;
  margin-top: 5%;
  line-height: 26px;
  font-size: 2rem;
  height: 30px;
  width: 75px;
}

.main-continue-button {
  position: relative;
  background-color: #6f42c1;
  -webkit-transform: none;
          transform: none;
  margin-top: 5%;
  line-height: 26px;
  font-size: 1.2rem;
  height: 30px;
  width: 75px;
}

.score-container {
  position: relative;
  font-family: "ClearSansBold", Arial, sans-serif;
  font-size: 18px;
  padding: 0 10px 2px;
  background-color: #bbada0;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -40px 20% 0;
  border-radius: 3px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.score-container::before {
  white-space: pre;
  content: "SCORE:  ";
  color: #eee4da;
}

.bounce .score-text {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.score-text {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.game-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 221px;
  height: 221px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: rgba(238, 228, 218, 0.73);
  padding: 7px;
  z-index: 1004;
}

.game-message.game-over,
.game-message.game-win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-in 500ms linear 0.7s;
          animation: fade-in 500ms linear 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.game-message p {
  font-family: "ClearSansBold", Arial, sans-serif;
  margin-bottom: 25%;
  color: #776e65;
  font-size: 2rem;
  z-index: 1010;
  display: block;
  position: relative;
}

.game-message.game-over p::before {
  content: "Game Over!";
}

.game-message.game-win p::before {
  content: "You Won!";
}

.game-message.game-over .main-continue-button {
  display: none;
}

/* 
Explanation for CSS:

You cannot use an animation and a transformation at the same time
as far as I know.
That is why the outer div, or ".tile" is like a car
It transports the inside to wherever it needs to.
But the inside, or ".tile-text" is the div
with the background color and text.
*/
.grid-cell,
.tile,
.tile-text {
  margin-right: 7px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.grid-cell:last-child,
.tile:last-child,
.tile-text:last-child {
  margin-right: 0;
}

.tile,
.tile-text {
  position: absolute;
}

.tile-text {
  font-family: "ClearSansBold", Arial, sans-serif;
  font-size: 8px;
  color: #776e65;
  text-align: center;
  line-height: 50px;
  background: red;
}

.tile-merged .tile-text {
  z-index: 1004;
  -webkit-animation-name: pop-in;
          animation-name: pop-in;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.tile-new .tile-text {
  -webkit-animation-name: tile-appear;
          animation-name: tile-appear;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.tile {
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.tile.tile-pos-1-1 {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.tile-pos-1-2 {
  -webkit-transform: translate(57px, 0px);
  transform: translate(57px, 0px);
}

.tile.tile-pos-1-3 {
  -webkit-transform: translate(114px, 0px);
  transform: translate(114px, 0px);
}

.tile.tile-pos-1-4 {
  -webkit-transform: translate(171px, 0px);
  transform: translate(171px, 0px);
}

.tile.tile-pos-2-1 {
  -webkit-transform: translate(0px, 57px);
  transform: translate(0px, 57px);
}

.tile.tile-pos-2-2 {
  -webkit-transform: translate(57px, 57px);
  transform: translate(57px, 57px);
}

.tile.tile-pos-2-3 {
  -webkit-transform: translate(114px, 57px);
  transform: translate(114px, 57px);
}

.tile.tile-pos-2-4 {
  -webkit-transform: translate(171px, 57px);
  transform: translate(171px, 57px);
}

.tile.tile-pos-3-1 {
  -webkit-transform: translate(0px, 114px);
  transform: translate(0px, 114px);
}

.tile.tile-pos-3-2 {
  -webkit-transform: translate(57px, 114px);
  transform: translate(57px, 114px);
}

.tile.tile-pos-3-3 {
  -webkit-transform: translate(114px, 114px);
  transform: translate(114px, 114px);
}

.tile.tile-pos-3-4 {
  -webkit-transform: translate(171px, 114px);
  transform: translate(171px, 114px);
}

.tile.tile-pos-4-1 {
  -webkit-transform: translate(0px, 171px);
  transform: translate(0px, 171px);
}

.tile.tile-pos-4-2 {
  -webkit-transform: translate(57px, 171px);
  transform: translate(57px, 171px);
}

.tile.tile-pos-4-3 {
  -webkit-transform: translate(114px, 171px);
  transform: translate(114px, 171px);
}

.tile.tile-pos-4-4 {
  -webkit-transform: translate(171px, 171px);
  transform: translate(171px, 171px);
}

.tile-2 .tile-text {
  background-color: #eee4da;
  font-size: 30px;
}

.tile-4 .tile-text {
  background-color: #eee1c9;
  font-size: 30px;
}

.tile-8 .tile-text {
  background-color: #f3b27a;
  color: #f9f6f2;
  font-size: 30px;
}

.tile-16 .tile-text {
  background-color: #f69664;
  color: #f9f6f2;
  font-size: 30px;
}

.tile-32 .tile-text {
  background-color: #f77c5f;
  color: #f9f6f2;
  font-size: 30px;
}

.tile-64 .tile-text {
  background-color: #f75f3b;
  color: #f9f6f2;
  font-size: 30px;
}

.tile-128 .tile-text {
  background-color: #edd073;
  color: #f9f6f2;
  font-size: 25px;
}

.tile-256 .tile-text {
  background-color: #edcc5c;
  color: #f9f6f2;
  font-size: 25px;
}

.tile-512 .tile-text {
  background-color: #edc84b;
  color: #f9f6f2;
  font-size: 25px;
}

.tile-1024 .tile-text {
  background-color: #edc539;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
}

.tile-2048 .tile-text {
  background-color: #edc229;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
}

.tile-4096 .tile-text {
  background-color: #f74af7;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
}

.tile-8192 .tile-text {
  background-color: #c93be6;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
}

.tile-16384 .tile-text {
  background-color: #7744ee;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
  font-size: 16px;
}

.tile-32768 .tile-text {
  background-color: #3e50ec;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
  font-size: 16px;
}

.tile-65536 .tile-text {
  background-color: #3b77e6;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
  font-size: 16px;
}

.tile-131072 .tile-text {
  background-color: #3bbee6;
  color: #f9f6f2;
  font-size: 25px;
  font-size: 18px;
  font-size: 16px;
  font-size: 12px;
}