@import url(https://fontlibrary.org//face/clear-sans);
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  background-color: #000000;
}

.game-container {
  margin: 0 auto;
  position: relative;
  padding: 7px;
  width: 221px;
  height: 221px;
  border-radius: 3px;
  background-color: #bbada0;
  display: block;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.grid-row {
  margin-bottom: 7px;
  height: 50px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-cell {
  float: left;
  background-color: rgba(238, 228, 218, 0.35);
}

/* 
Explanation for CSS:

You cannot use an animation and a transformation at the same time
as far as I know.
That is why the outer div, or ".tile" is like a car
It transports the inside to wherever it needs to.
But the inside, or ".tile-text" is the div
with the background color and text.
*/
.grid-cell,
.tile,
.tile-text {
  margin-right: 7px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.grid-cell:last-child,
.tile:last-child,
.tile-text:last-child {
  margin-right: 0px;
}

.tile,
.tile-text {
  position: absolute;
}

.tile-text {
  font-family: "ClearSansBold", Arial, sans-serif;
  font-size: 25px;
  color: #776e65;
  text-align: center;
  line-height: 50px;
}

.tile-merged .tile-text {
  z-index: 5;
  -webkit-animation-name: pop;
          animation-name: pop;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.tile {
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.tile.tile-pos-1-1 {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.tile-pos-1-2 {
  -webkit-transform: translate(57px, 0px);
  transform: translate(57px, 0px);
}

.tile.tile-pos-1-3 {
  -webkit-transform: translate(114px, 0px);
  transform: translate(114px, 0px);
}

.tile.tile-pos-1-4 {
  -webkit-transform: translate(171px, 0px);
  transform: translate(171px, 0px);
}

.tile.tile-pos-2-1 {
  -webkit-transform: translate(0px, 57px);
  transform: translate(0px, 57px);
}

.tile.tile-pos-2-2 {
  -webkit-transform: translate(57px, 57px);
  transform: translate(57px, 57px);
}

.tile.tile-pos-2-3 {
  -webkit-transform: translate(114px, 57px);
  transform: translate(114px, 57px);
}

.tile.tile-pos-2-4 {
  -webkit-transform: translate(171px, 57px);
  transform: translate(171px, 57px);
}

.tile.tile-pos-3-1 {
  -webkit-transform: translate(0px, 114px);
  transform: translate(0px, 114px);
}

.tile.tile-pos-3-2 {
  -webkit-transform: translate(57px, 114px);
  transform: translate(57px, 114px);
}

.tile.tile-pos-3-3 {
  -webkit-transform: translate(114px, 114px);
  transform: translate(114px, 114px);
}

.tile.tile-pos-3-4 {
  -webkit-transform: translate(171px, 114px);
  transform: translate(171px, 114px);
}

.tile.tile-pos-4-1 {
  -webkit-transform: translate(0px, 171px);
  transform: translate(0px, 171px);
}

.tile.tile-pos-4-2 {
  -webkit-transform: translate(57px, 171px);
  transform: translate(57px, 171px);
}

.tile.tile-pos-4-3 {
  -webkit-transform: translate(114px, 171px);
  transform: translate(114px, 171px);
}

.tile.tile-pos-4-4 {
  -webkit-transform: translate(171px, 171px);
  transform: translate(171px, 171px);
}

.tile-2 .tile-text {
  background-color: #eee4da;
}

.tile-4 .tile-text {
  background-color: #ede0c8;
}

.tile-8 .tile-text {
  background-color: #f2b179;
}

.tile-16 .tile-text {
  background-color: #f59563;
}

.tile-32 .tile-text {
  background-color: #f67c5f;
}

.tile-64 .tile-text {
  background-color: #f65e3b;
}

.tile-128 .tile-text {
  background-color: #edcf72;
}

.tile-256 .tile-text {
  background-color: #edcc61;
}

.tile-512 .tile-text {
  background-color: #edc850;
}

.tile-1024 .tile-text {
  background-color: #edc53f;
}

.tile-2048 .tile-text {
  background-color: #edc22e;
}
/*# sourceMappingURL=style.css.map */